  :root {
    --red-color: #ff0404;
    --orange-color: #ff6a04;
    --or-color: #FFC000;
    --jaune-color: #ffe767;
    --vert-color: #3aaa35;
    --vert-pale: #3AB84F;
    --bleu-dark: #1f4d78;
    --bleu-color: #006699;
    --link-color: #157de0;
    --bleu-pale: lightblue;
    --text-color: #696E72;
    --thead-color: #abadae;
    --border-color: #cccccc;
    --bg-nav: #E8E9EA;
    --bgform-color: #f1f1f1;
    --blanc-color: #ffffff;
  }


  * {
    box-sizing: border-box;
  }

  .notshow {
    display: none;
  }

  .titre {
    background: var(--bleu-color);
    color: var(--blanc-color);
  }

  /* ---------- HEADER ---------- */
  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: skyblue;
  }

  /* Menu gauche */
  header nav {
    display: flex;
    align-items: center;
  }

  header nav a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }

  header nav a:hover,
  aside nav a:hover,
  header nav a.active,
  aside nav a.active {
    background-color: red;
    color: white;
  }

  header nav a:first-child {
    background: skyblue;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  header nav a:first-child:hover {
    background: var(--bleu-color);
  }

  /* Recherche + bouton login */
  header search {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  header search .icon {
    transform: translateX(150%);
    pointer-events: none;
  }

  header search input {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
  }

  header search button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: skyblue;
    color: white;
    cursor: pointer;
  }

  .active {
    color: var(--red-color);
  }

  /* ====================== Body ================================= */
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
    overflow-y: hidden;
  }

  /* height: 85vh;
  width: 78vw; */
  /* Column container */
  main {
    font-size: 1rem;
    margin: 2rem;
    height: 78vh;
    overflow-y: scroll;
  }

  main section {
    flex: 100%;
  }

  aside nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 20px; */
  }

  aside nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--link-color);
    display: block;
    transition: 0.3s;
  }

  aside nav a:hover {
    color: #ff0000;
    background-color: #ddd;
  }

  aside nav a .active {
    background-color: #ccc;
  }

  aside nav .closebtn {
    background-color: #f1f1f1;
    color: rgb(52, 51, 51);
    font-size: 25px;
    text-align: right;
    border: none;
    cursor: pointer;
  }

  footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    /* padding: 1rem; */
  }

  footer #setting {
    color: var(--blanc-color);
    margin-right: 1rem;
    text-decoration: none;
  }

  .sommaire nav {
    display: grid;
    width: 100%;
    gap: 1rem;
    align-items: start;
    background: var(--bg-nav);
  }

  .c3 {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ----------------------------------------Tab rapport------------------------------- */

  .sommaire nav a {
    color: #157de0;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
  }

  .link {
    color: #157de0;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    padding: 1rem;
  }

  .sommaire nav a:hover {
    background-color: var(--border-color);
    color: var(--red-color);
  }

  .sommaire nav a.active {
    background-color: red;
    color: white;
  }

  #container {
    margin-top: 0;
  }


  /* ---------- FORMULAIRE ---------- */
  fieldset {
    display: grid;
    width: 100%;
  }

  fieldset {
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid var(--thead-color)
  }

  form {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    width: 100%;
    gap: 1rem;
    align-items: start;
  }

  .triple {
    grid-template-columns: repeat(3, 1fr);
  }

  form p:has(input[type="hidden"]) {
    display: none;
    /* Cache les <p> contenant des inputs hidden */
  }

  label,
  legend {
    color: var(--link-color);
  }

  form p {
    display: flex;
    flex-direction: column;
  }

  form label {
    margin-bottom: 0.3rem;
    font-weight: bold;
  }

  form input {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
  }

  form select {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
  }

  input:focus {
    outline: 1px solid var(--thead-color);
  }

  fieldset button {
    grid-column: 1 / -1;
    justify-self: end;
    padding: 0.7rem 1.5rem;
    background: var(--bleu-color);
    color: var(--blanc-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.25rem;
  }

  button {
    padding: 0.7rem 1.5rem;
  }

  button:hover {
    color: var(--blanc-color);
    background: var(--bleu-dark);
    font-weight: bold;
  }

  .container {
    /* width: 80vw; */
    width: 100%;
    overflow-x: auto;
  }

  /* CSS (style du bouton flottant rond vert) */

  .btn-flottant {
    position: absolute;
    /* changé de fixed à absolute */
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #28a745;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }

  .btn-flottant:hover {
    background-color: #218838;
  }

  button:disabled {
    background-color: #ccc;
    color: #666;
  }

  .action:hover {
    color: var(--red-color);
    background: var(--bg-nav);
    border-radius: 50%;
    padding: 0.5rem;
  }

  /* ---------------Notes--------------------- */
  .danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
  }

  .success {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
  }

  .info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
  }


  .warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
  }

  /* ---------- TABLE ---------- */
  .table-container {
    width: 100%;
    overflow-x: auto;
  }


  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  table thead {
    background-color: var(--bg-nav);
    color: var(--link-color);
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 12.5rem;
  }

  .table-container {
    overflow-x: auto;
  }

  table tbody tr:hover {
    background-color: #f1faff;
    cursor: pointer;
  }

  table td.numeric,
  table th.numeric {
    text-align: right;
  }

  .selected-row {
    background-color: #ffcccc;
  }

  /* ========================#lateral========================================= */
  .space,
  .label-panier {
    display: flex;
    justify-content: space-between;
  }

  .container,
  .cart {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    align-content: flex-start;
    /* overflow: scroll; */
    text-align: left;
  }

  .container a,
  .cart a {
    padding: 10px;
    flex: 100%;
  }

  .cart .label-panier:hover {
    background-color: var(--border-color);
    color: var(--red-color);
  }

  .isdisabled {
    pointer-events: none;
  }

  #fermer {
    border-radius: 50%;
    text-align: left;
    padding: 10px 1rem;
  }

  .label-panier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.3rem 0;
    color: #007bff;
    font-weight: bold;
  }

  .label-panier input {
    margin-right: 0.5rem;
  }

  .delete-panier {
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
  }

  #new_btn button{
    background-color: #ddd;
    border-radius: 50%;
    align-content: center;
    align-items: center;
  }

    #new_btn :hover{
background: var(--red-color);
  }

    /* CSS (style du bouton flottant rond vert) */

    .btn-flottant {
      position: absolute;
      /* changé de fixed à absolute */
      bottom: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #28a745;
      color: white;
      font-size: 30px;
      font-weight: bold;
      border: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      transition: background-color 0.3s ease;
    }

    .btn-flottant:hover {
      background-color: #218838;
    }