    :root {
      --red-color: #ff0404;
      --orange-color: #ff6a04;
      --or-color: #FFC000;
      --jaune-color: #ffe767;
      --vert-color: #3aaa35;
      --vert-pale: #3AB84F;
      --bleu-dark: #1f4d78;
      --bleu-color: #006699;
      --link-color: #157de0;
      --bleu-pale: lightblue;
      --text-color: #696E72;
      --thead-color: #abadae;
      --border-color: #cccccc;
      --bg-nav: #E8E9EA;
      --bgform-color: #f1f1f1;
      --blanc-color: #ffffff;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .notshow {
      display: none;
    }

    .titre {
      background: var(--bleu-color);
      color: var(--blanc-color);
    }

    body {
      display: grid;
      grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
      grid-template-columns: 15vw 1fr;
      grid-template-rows: auto 1fr auto;
      min-height: 100vh;
      font-family: Arial, sans-serif;
    }

    /* ---------------------spinner----------------------------- */
    .spinner {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      border-top-color: #333;
      border-radius: 50%;
      animation: spin 0.6s linear infinite;
      margin-right: 5px;
      vertical-align: middle;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }

    /* ---------- HEADER ---------- */
    header {
      grid-area: header;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: skyblue;
    }

    /* Menu gauche */
    header nav {
      display: flex;
      align-items: center;
    }

    header nav a {
      color: var(--link-color);
      text-decoration: none;
      font-weight: bold;
      padding: 0.5rem 1rem;
    }

    header nav a:hover,
    aside nav a:hover,
    header nav a.active,
    aside nav a.active {
      background-color: red;
      color: white;
    }

    header nav a:first-child {
      background: skyblue;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }

    header nav a:first-child:hover {
      background: var(--bleu-color);
    }

    /* Recherche + bouton login */
    header search {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    header search .icon {
      transform: translateX(150%);
      pointer-events: none;
    }

    header search input {
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      border: none;
    }

    header search button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      background: skyblue;
      color: white;
      cursor: pointer;
    }

    .active {
      color: var(--red-color);
    }

    /* ---------- ASIDE ---------- */
    aside {
      grid-area: aside;
      background: var(--bg-nav);
      padding: 1rem 0 1rem 1rem;
      position: relative;
      /* 🔥 obligatoire pour positionner les éléments enfants en absolute */
    }

    aside nav {
      display: flex;
      flex-direction: column;
      /* gap: 0.5rem; */
    }

    aside nav a {
      color: #157de0;
      font-weight: bold;
      font-style: italic;
      text-decoration: none;
      padding: 0.5rem 1rem;
    }

    /* Effet au survol */
    aside nav a:hover {
      background-color: var(--border-color);
      color: var(--red-color)
    }

    /* Lien actif */
    aside nav a.active {
      background-color: var(--thead-color);
      color: var(--blanc-color)
    }

    .label-panier:hover {
      text-decoration: underline;
      text-decoration-color: red;
      cursor: pointer;
    }
/* ----------------------------------------Tab rapport------------------------------- */
    .sommaire nav {
      flex-direction: row;
        align-items: flex-start;
        padding: 1rem 1rem 1rem 0;
        background: var(--bg-nav);
    }

    .sommaire nav a {
      color: #157de0;
      font-weight: bold;
      text-decoration: none;
      padding: 1rem;
    }

    .link{
      color: #157de0;
      font-weight: bold;
      font-style: italic;
      text-decoration: none;
      padding: 1rem;
    }

    .sommaire nav a:hover {
      background-color: var(--border-color);
      color: var(--red-color)
    }

   .sommaire nav a.active {
      background-color: red;
      color: white;
    }
    #container{
      margin-top: 0;
    }

    /* ---------- MAIN ---------- */
    main {
      grid-area: main;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }

    body,
    main {
      max-width: 100%;
      overflow-x: hidden;
      /* empêche le scroll horizontal global */
    }

    section,
    article {
      background: var(--blanc-color);
      border-radius: 8px;
      width: 100%;
    }

    /* ---------- FORMULAIRE ---------- */
    fieldset {
      display: grid;
      width: 100%;
    }

    fieldset {
      padding: 1rem;
      border-radius: 8px;
      border: 2px solid var(--thead-color)
    }

    form {
      display: grid;
      /* grid-template-columns: repeat(3, 1fr); */
      width: 100%;
      gap: 1rem;
      align-items: start;
    }

    .triple {
      grid-template-columns: repeat(3, 1fr);
    }

    form p:has(input[type="hidden"]) {
      display: none;
      /* Cache les <p> contenant des inputs hidden */
    }

    label,
    legend {
      color: var(--link-color);
    }

    form p {
      display: flex;
      flex-direction: column;
    }

    form label {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    form input {
      padding: 0.5rem;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      width: 100%;
    }

    form select {
      padding: 0.5rem;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      width: 100%;
    }

    input:focus {
      outline: 1px solid var(--thead-color);
    }

    fieldset button {
      grid-column: 1 / -1;
      justify-self: end;
      padding: 0.7rem 1.5rem;
      background: var(--bleu-color);
      color: var(--blanc-color);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 0.25rem;
    }

    button {
      padding: 0.7rem 1.5rem;
    }

    button:hover {
      color: var(--blanc-color);
      background: var(--bleu-dark);
      font-weight: bold;
    }

    .container {
      /* width: 80vw; */
      width: 100%;
      overflow-x: auto;
    }

    /* CSS (style du bouton flottant rond vert) */

    .btn-flottant {
      position: absolute;
      /* changé de fixed à absolute */
      bottom: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #28a745;
      color: white;
      font-size: 30px;
      font-weight: bold;
      border: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      transition: background-color 0.3s ease;
    }

    .btn-flottant:hover {
      background-color: #218838;
    }

button:disabled {
  background-color: #ccc;
  color: #666;
}

.action:hover{
  color: var(--red-color);
  background: var(--bg-nav);
  border-radius: 50%;
  padding: 0.5rem;
}
/* ---------------Notes--------------------- */
.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}


.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
    /* ---------- TABLE ---------- */
    .table-container {
      width: 100%;
      overflow-x: auto;
    }


    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }

    table thead {
      background-color: var(--bg-nav);
      color: var(--link-color);
    }

    th,
    td {
      border: 1px solid #ccc;
      padding: 0.5rem;
      text-align: left;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
      width: 12.5rem;
    }

    .table-container {
      overflow-x: auto;
    }

    table tbody tr:hover {
      background-color: #f1faff;
      cursor: pointer;
    }

    table td.numeric,
    table th.numeric {
      text-align: right;
    }

    .selected-row {
      background-color: #ffcccc;
    }
/* -------------------------Rapport-------------------- */


    /* ----------------- Pagination -------------------- */
    .pagination {
      margin-top: 1em;
      text-align: center;
    }

    .pagination button {
      margin: 0 5px;
      padding: 5px 10px;
      cursor: pointer;
    }

    .pagination .actif {
      background-color: #007bff;
      color: white;
      font-weight: bold;
    }

    /* ---------- FOOTER ---------- */
    #message-box {
      position: fixed;
      /* Indépendant de la grille */
      bottom: 15px;
      right: 15px;
      background: #444;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 9999;
      font-size: 0.9em;
      max-width: 300px;
    }

    footer {
      grid-area: footer;
      background: #333;
      color: white;
      text-align: center;
      /* padding: 1rem; */
    }
footer #setting{
  color: var(--blanc-color);
  margin-right: 1rem;
  text-decoration: none;
}

    /* ---------- RESPONSIVE ---------- */

    @media (max-width: 600px) {

      body {
        grid-template-areas:
          "header"
          "aside"
          "main"
          "footer";
        grid-template-columns: 1fr;
      }

      header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }

      aside nav, #formulaire nav  {
        flex-direction: row;
        align-items: flex-start;
        padding-left: 0.5rem;
        gap: 0.5rem;
      }

      header nav {
        flex-wrap: wrap;
      }

      form {
        grid-template-columns: 1fr;
        width: 100%;
      }

      form button {
        grid-column: span 1;
      }
    }